@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 동화책 내용 글씨체 - 배민주아체 */
.fairytale-font {
  font-family: "BMJUA";
}

/* 모달창 제목에 파랑 형광펜 효과 */
.blue-highlight {
  display: inline;
  box-shadow: inset 0 -10px 0 #67ccff;
}

/* 모달창 제목에 빨강 형광펜 효과 */
.red-highlight {
  display: inline;
  box-shadow: inset 0 -10px 0 #ff8067;
}

/* 토글 버튼 */
.custom-toggle {
  transform: scale(1.6);
  border-color: #bcb8b8;
}

/* 토글 버튼 - 활성화 된 경우 */
.custom-toggle:checked {
  background-color: #67ccff;
}

/* 토글 버튼 - 비활성화 된 경우 */
.custom-toggle:disabled {
  background-color: #ffffff;
}
