@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 동화책 내용 글씨체 - 배민주아체 */
.voice-album-font {
  font-family: "BMJUA";
}